1. pivot_table：透视表操作
方法： 使用pivot_table方法可以根据一个或多个键对数据进行透视，类似于Excel中的透视表功能。

示例代码： 创建一个透视表，计算不同产品在不同月份的销售额。

Product    A    B
Month            
Feb      150  470
Jan      220  200
data = {
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Feb'],
    'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Sales': [100, 200, 150, 250, 120, 220]
}

data = {
    'Month': ['1', '1', '2', '2', '3', '3'],
    'Product': ['A', 'B', 'C', 'B', 'A', 'A'],
    'Sales': [100, 200, 150, 250, 120, 220]
}
Product      A      B      C
Month                       
1        100.0  200.0    NaN
2          NaN  250.0  150.0
3        340.0    NaN    NaN

Product      A      B      C      D      E       F
Month                                             
1        100.0  200.0    NaN    NaN    NaN     NaN
10         NaN    NaN    NaN    NaN    NaN   900.0
11         NaN    NaN    NaN    NaN    NaN  1000.0
12         NaN    NaN    NaN    NaN    NaN   200.0
2          NaN  250.0  150.0    NaN    NaN     NaN
3        340.0    NaN    NaN    NaN    NaN     NaN
4          NaN  300.0    NaN    NaN    NaN     NaN
5          NaN    NaN  400.0    NaN    NaN     NaN
6          NaN    NaN    NaN  500.0    NaN     NaN
7          NaN    NaN    NaN  600.0    NaN     NaN
8          NaN    NaN    NaN    NaN  700.0     NaN
9          NaN    NaN    NaN    NaN    NaN   800.0
data = {
    'Month': ['1', '1', '2', '2', '3', '3','4','5','6','7','8','9','10','11','12'],
    'Product': ['A', 'B', 'C', 'B', 'A', 'A', 'B', 'C', 'D', 'D', 'E', 'F', 'F', 'F', 'F'],
    'Sales': [100, 200, 150, 250, 120, 220,300, 400, 500, 600, 700, 800, 900, 1000,200],
}

In [8]:
import pandas as pd

# 创建一个DataFrame
data = {
    'Month': ['1', '1', '2', '2', '3', '3','4','5','6','7','8','9','10','11','12'],
    'Product': ['A', 'B', 'C', 'B', 'A', 'A', 'B', 'C', 'D', 'D', 'E', 'F', 'F', 'F', 'F'],
    'Sales': [100, 200, 150, 250, 120, 220,300, 400, 500, 600, 700, 800, 900, 1000,200],
}
df = pd.DataFrame(data)

# 创建透视表
pivot_df = df.pivot_table(index='Month', columns='Product', values='Sales', aggfunc='sum')
print(pivot_df)

Product      A      B      C      D      E       F
Month
1        100.0  200.0    NaN    NaN    NaN     NaN
10         NaN    NaN    NaN    NaN    NaN   900.0
11         NaN    NaN    NaN    NaN    NaN  1000.0
12         NaN    NaN    NaN    NaN    NaN   200.0
2          NaN  250.0  150.0    NaN    NaN     NaN
3        340.0    NaN    NaN    NaN    NaN     NaN
4          NaN  300.0    NaN    NaN    NaN     NaN
5          NaN    NaN  400.0    NaN    NaN     NaN
6          NaN    NaN    NaN  500.0    NaN     NaN
7          NaN    NaN    NaN  600.0    NaN     NaN
8          NaN    NaN    NaN    NaN  700.0     NaN
9          NaN    NaN    NaN    NaN    NaN   800.0

2. cut：数据分箱操作
方法： 使用cut方法将连续的数值数据分成离散的区间（箱子）。

示例代码： 对一个数据列进行分箱操作，并计算每个箱子中的数据数量。

data = {
    'Value': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
}
Bins
High      4
Low       3
Medium    3
Name: count, dtype: int64

data = {
    'Value': [50,54,56,15,25,61,34,15,15,]
}

Bins
Low       4
Medium    4
High      1
Name: count, dtype: int64

data = {
    'Value': [50,54,56,15,25,61,34,15,15,25,15,95,28]
}
Bins
Low       7
Medium    4
High      2
Name: count, dtype: int64

In [10]:
import pandas as pd

# 创建一个DataFrame
data = {
    'Value': [50,54,56,15,25,61,34,15,15,25,15,95,28]
}
df = pd.DataFrame(data)

# 数据分箱
bins = [0, 30, 60, 100]
labels = ['Low', 'Medium', 'High']
df['Bins'] = pd.cut(df['Value'], bins=bins, labels=labels, right=True)

# 计算每个箱子中的数据数量
bin_counts = df['Bins'].value_counts()
print(bin_counts)

Bins
Low       7
Medium    4
High      2
Name: count, dtype: int64

3. applymap：应用函数到数据框的每个元素
方法： 使用applymap方法将函数应用到数据框的每个元素。

示例代码： 将一个数据框中的所有元素转换为小写。

data = {
    'A': ['Apple', 'Banana', 'Orange'],
    'B': ['Cat', 'Dog', 'Elephant']
}
        A         B
0   apple       cat
1  banana       dog
2  orange  elephant

data = {
    'A': ['AOJUIOFSe', 'Bnana', 'OIOHCDFge','hxcHYDA'],
    'B': ['yugt', 'Dg', 'Elet','ASUHC']
}
           A      B
0  aojuiofse   yugt
1      bnana     dg
2  oiohcdfge   elet
3    hxchyda  asuhc

 data = {
    'A': ['AOJUIOFSe', 'Bnana', 'OIOHCDFge','hxcHYDA','UHDUIAID','DAHDI'],
    'B': ['yugt', 'Dg', 'Elet','ASUHC','AOJUIOFSe','hxcHYDA'],
}
           A          B
0  aojuiofse       yugt
1      bnana         dg
2  oiohcdfge       elet
3    hxchyda      asuhc
4   uhduiaid  aojuiofse
5      dahdi    hxchyda

In [13]:
import pandas as pd

# 创建一个DataFrame
data = {
    'A': ['AOJUIOFSe', 'Bnana', 'OIOHCDFge','hxcHYDA','UHDUIAID','DAHDI'],
    'B': ['yugt', 'Dg', 'Elet','ASUHC','AOJUIOFSe','hxcHYDA'],
}
df = pd.DataFrame(data)

# 使用DataFrame.apply和Series.map来转换为小写
df_lower = df.apply(lambda x: x.map(lambda y: y.lower() if isinstance(y, str) else y))
print(df_lower)

           A          B
0  aojuiofse       yugt
1      bnana         dg
2  oiohcdfge       elet
3    hxchyda      asuhc
4   uhduiaid  aojuiofse
5      dahdi    hxchyda

4.pd.to_datetime：日期时间转换 方法： 使用pd.to_datetime方法将字符串或数值转换为日期时间格式。
      
示例代码： 将一个包含日期字符串的列转换为日期时间格式，并提取出年份。

data = {
    'Date': ['2023-01-01', '2024-02-15', '2025-03-30']
}
        Date  Year
0 2023-01-01  2023
1 2024-02-15  2024
2 2025-03-30  2025

data = {
    'Date': ['2015-01-11', '2011-01-15', '2025-05-30']
}
        Date  Year
0 2015-01-11  2015
1 2011-01-15  2011
2 2025-05-30  2025

data = {
    'Date': ['1995-01-11', '2000-01-15', '2051-05-30']
}
        Date  Year
0 1995-01-11  1995
1 2000-01-15  2000
2 2051-05-30  2051

In [18]:
import pandas as pd

# 创建一个DataFrame
data = {
    'Date': ['1995-01-11', '2000-01-15', '2051-05-30']
}
df = pd.DataFrame(data)

# 将字符串转换为日期时间格式
df['Date'] = pd.to_datetime(df['Date'])

# 提取年份
df['Year'] = df['Date'].dt.year
print(df)

        Date  Year
0 1995-01-11  1995
1 2000-01-15  2000
2 2051-05-30  2051

 5.stack 和 unstack：数据堆叠与解堆操作 方法： 使用stack方法将数据框的列“堆叠”为多层索引的行，使用unstack方法将多层索引的行“解堆”为列。
示例代码： 创建一个多层索引的数据框，并进行堆叠与解堆操作

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
X  A    1
   B    4
   C    7
Y  A    2
   B    5
   C    8
Z  A    3
   B    6
   C    9
dtype: int64
   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

data = {
    'G': [6, 5, 1],
    'V': [3, 1, 8],
    'D': [8, 8, 9]
}
Q  G    6
   V    3
   D    8
W  G    5
   V    1
   D    8
E  G    1
   V    8
   D    9
dtype: int64
   G  V  D
Q  6  3  8
W  5  1  8
E  1  8  9

data = {
    'W': [95, 56, 41],
    'R': [35, 1, 86],
    'N': [68, 85, 94]
}
M  W    95
   R    35
   N    68
P  W    56
   R     1
   N    85
T  W    41
   R    86
   N    94
dtype: int64
    W   R   N
M  95  35  68
P  56   1  85
T  41  86  94

In [20]:
import pandas as pd

# 创建一个DataFrame
data = {
    'W': [95, 56, 41],
    'R': [35, 1, 86],
    'N': [68, 85, 94]
}
df = pd.DataFrame(data, index=['M', 'P', 'T'])

# 将列堆叠为多层索引的行
stacked_df = df.stack()
print(stacked_df)

# 解堆多层索引的行为列
unstacked_df = stacked_df.unstack()
print(unstacked_df)

M  W    95
   R    35
   N    68
P  W    56
   R     1
   N    85
T  W    41
   R    86
   N    94
dtype: int64
    W   R   N
M  95  35  68
P  56   1  85
T  41  86  94